a{
    text-decoration: none;
    color: black;
}
.nav{
    display: none;
}
header{
    width: 100%;
    display: flex;
    position: fixed;
    height: 50px;
    background-color: rgba(237, 237, 237, 1);
    border-bottom: solid 2px #AACE9B;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.icon-img {
    height: 90%;
    width: 90%;
   margin-left: 10%;   
}
.title{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding-bottom: 10px;
    color: rgba(55, 56, 103, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
main {
    width: 100%;
    padding-top: 80px;
}
.welcome{
    margin-left: 2%;  
}
.img-welcome{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.welcome-img{  
   height: 100%;
}
.text-img{
    display: flex;
    width: 100%;   
}
.welcome-text {   
    font-family: 'Roboto', sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;       
}
.welcome-title {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    color: rgba(55, 56, 103, 1);
}
.welcome-subtitle{
    margin-top: 5%;
    color: rgba(55, 56, 103, 1);
    font-size: 150%;
    margin-top: 20%;   
}
.welcome-p{
    margin-top: 5%;
    color: rgba(55, 56, 103, 1);
    display: none;   
}
.welcome-buttom {
    width: 100px;
    margin-top: 15px;
    display: none;
}
.actions-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
}
.boxes {  
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    width: 95%;   
}
.boxes-child {
    font-size: 13px;
    width: 45%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;              
}
.text{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.p-box{
    margin-top: 5%;
}
.boxes-img{
    margin-top: 5%;
    max-width: 50%;
    height: auto;
    margin-left: 30%;   
}
.title-box{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.title-box h3{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.roles-title{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.use-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
}
.use-ol{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    justify-content: space-between;
    height: 100px;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;   
}
.form-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
}
.form-form{
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid 2px rgb(151, 150, 150);
    border-radius: 1%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #AACE9B;
    width: 85%;
}
.form-label-bussines{
    margin-left: 2%;
}
.form-bussines{   
    display: flex;
    flex-direction: column;      
}
.form-input-bussines{
   margin-left: 2%;
   margin-right: 10%;
}
.form-input-email{
    margin-left: 2%;
    margin-right: 10%;   
}
.form-label-email{
    margin-left: 2%;
}
.phone-text{
    margin-left: 2%;
    margin-right: 10%;    
}
.message-label{
    margin-left: 2%;
}
.message-text{
    margin-left: 2%;
    margin-right: 10%;
    height: 60px;
}
.form-email{
    margin-top: 5%;   
    display: flex;
    flex-direction: column;        
}
.checkbox{
    width: 50%;
    margin-top: 5%;   
}
.phone-main{   
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.phone-label{
    margin-left: 2%;
}
.message{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}
.buttom-send{
    margin-left: 200px;
    width: 100px;
    margin-top: 5%;
    display: none; 
}
.history{    
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    justify-content: center;   
    width: 85%;            
}
.history-title-1{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;   
}
.history-p-1{
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
    width: 80%;
    padding-bottom: 2%;
    margin-right: 5%;
}
.imgs-data{
    height: 25%;
    width: 25%;
    display: none;
}
.imgs-time{
    height: 25%;
    width: 25%;
    display: none;
}
.history-objective{
    height: 60%;
    width: 90%;
    display: none;
}
.history-2{    
    width: 100%;
}
.history-title-2{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
}
.history-p-2{
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
    width: 80%;
    padding-bottom: 2%;
    margin-right: 5%;   
}
.us{  
    display: flex;  
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    width: 90%;      
}
.us-products{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
}
.us-product-li{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
.us-business{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;   
}
.us-bussines-li{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
.us-support{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
}
.us-support-li{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
.footer{
    border-top: solid 2px #AACE9B;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
}
.footer-p{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.footer-icons{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.icons{
    height: 5%;
    width: 5%;
    margin-right: 5%;
}
.footer-copyright{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}


  