@media only screen and (min-width: 600px) {
    header{   
        width: 75%;
        margin-left: 25%;
        font-size: 38px;
        height: 100px;
        background-color: white;
        border-bottom: none;
    }
    .icon-img {
        height: 70%;
        width: 70%;    
    }
    .title{      
        display: flex;
        justify-content:flex-start;     
        flex-grow: 1;
        width: 100%;
        padding-bottom: 10px;
        color: rgb(0, 0, 0);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 30px;
        margin-right: 10%;
        margin-left: 5%;
        border-bottom: solid 2px #AACE9B;        
    }
    main{
        width: 75%;
        margin-left: 25%;
        padding-top: 150px;                      
    }
    .welcome{
        font-size: 25px;    
    }
    .welcome-title{
        width: 70%;
        text-align: start;
        color: black;
        font-size: 30px;                
    }    
    .welcome-text{    
        margin-top: 5%;
        font-size: 15px;   
    }       
    .welcome-img{    
        height: 100%;
        width: 90%;
     }    
    .welcome-subtitle{
        display: block;
        margin-top: 0%;       
    }
    .welcome-p{
        display: block;   
    }
    .welcome-buttom{
        display: block;
        margin-top: 5%;
        background-color: #AACE9B;
        font-size: 15px;
        width: 125px;
        height: 40px;
        border-radius: 5%;       
    }    
    .actions-title{
        font-size: 30px;
    }
    .boxes {   
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5%;
        align-items: center;
        width: 95%;
    }
    .boxes-child{
        font-size: 15px;
        display: flex;
    }
    .hours-img{
        margin-left: 0;
        height: 50%;
    }
    .boxes-img{
        margin-left: 0;
        height: 50%;
    }
    .title-box{
        justify-content:flex-start;
    }
    .use-title{
        font-size: 30px;
    }
    .use-li{
        font-size: 15px;
        margin-top: 2%;
    }    
    .form-title{
        font-size: 30px;
        margin-top: 10%;      
    }
    .form-form{
        font-size: 15px;
        background-color: white;
        border: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .form-bussines{
        width:50%;
        display: flex;             
    }
    
    .form-email{
        width: 50%;
        margin-top: 0;
    }
    .form-input-bussines{
        width: 50%;
        max-width: 200px;
        height: 20px;
        border-radius: 5%;      
    }
    .form-input-email{
        width: 50%;
        max-width: 200px;
        height: 20px;
        border-radius: 5%;      
    }
   .checkbox{
        width: 49%;
        margin-left: 1%;
    }
    .checkbox-resources{
        margin-top: 1%;
    }
    .checkbox-commer{
        margin-top: 1%;
    }
    .checkbox-system{
        margin-top: 1%;
    }
    .phone-main{
        width: 50%;  
    }
    .phone-text{
        width: 50%;
        height: 20px;
        max-width: 200px;
    }
    .form-email{   
        display: flex;
        flex-direction: column;                   
    }
    .message-text{
        height: 100px;
        width: 75%;
        max-width: 595px;
        border-radius: 2%;
        margin-left: 0;
    }
    .message-label{
        margin-left: 0;
    }      
    .history{    
        display: flex;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
        width: 90%;
        margin-left: 5%;                                
    }    
    .history-up{
        flex: 0.8;         
    }
    .history-2{        
        flex: 0.8;        
    }
    .history-title-1{    
        font-size: 20px;
        margin-left: 0%;
        margin-top: 5%;
        padding-bottom: 2%;
        margin-right: 5%;                        
    }
    .history-p-1{
        font-size: 15px;
        margin-left: 0%;
        margin-top: 5%;
        width: 100%;
        padding-bottom: 2%;
        margin-right: 5%;
    }                
    .history-title-2{
        font-size: 20px;
        margin-left: 5%;
        margin-top: 5%;
        padding-bottom: 2%;
        margin-right: 5%;          
    }
    .history-p-2{
        font-size: 15px;
        margin-left: 5%;
        margin-top: 5%;
        width: 100%;
        padding-bottom: 2%;
        margin-right: 5%;      
    }    
    .us{
        padding-bottom: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;       
    }
    .us-1{
        width: 30%;             
    }
    .us-2{
        width: 30%;
    }
    .us-3{
        width: 30%;
    }
    .us-products{
        font-size: 25px;
        margin-left: 35%;
    }
    .us-product-li{
        font-size: 10px;
        margin-left: 35%;
    }
    .us-business{
        font-size: 25px;
        margin-left: 35%;
    }
    .us-bussines-li{
        font-size: 10px;
        margin-left: 35%;
    }
    .us-support{
        font-size: 25px;
        margin-left: 35%;
    }
    .us-support-li{
        font-size: 10px;
        margin-left: 35%;
    }
    .footer{
        width: 75%;
        margin-left: 25%;
        font-size: 15px;
        position: fixed;
        bottom: 0;                      
    }
    .icons{
        height: 2%;
        width: 2%;
        margin-top: 2%;
        margin-right: 1%;
    }  
    .footer-icons{
        margin-top: 0;             
    }
    .footer-copyright{
        display: flex;
        justify-content: center;
        margin-top: 1%;
    }
    .nav{
        display: flex !important;
        flex-direction: column;
        z-index: 2;
        position: fixed;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        width: 25%;
        border-right: solid 2px black;
        border-bottom: solid 2px black;
        height: 100%;                      
    }
    .search {
        padding-left: 5%;
        width: 70%;
        flex: 0.4;
        padding-top: 5%;
    }   
    .search-input {
        border-radius: 3px;
        height: 30px;
        width: 100%;
        max-width: 150px;
        padding-left: 20px;
    }    
    .search-img{
        height: 20px;
        width: 20px;
        position: absolute;
        margin-top: 6px;
        margin-left: 5px;
    }
    .menu{
        padding-left: 5%;
        flex: 1;
    }
    .menu-title {
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        display: inline-block;  
        border-bottom: solid 3px #AACE9B;       
    }
    .menu-ol{
        margin-top: 20px;       
    }
    .ol-home{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        width: 90%;
        border-bottom: solid 1px black;
        padding-bottom: 5px;
    }
    .ol-signu{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        width: 90%;
        border-bottom: solid 1px black;
        padding-bottom: 5px;
    }
    .ol-signi{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        width: 90%;
        padding-bottom: 5px;
        border-bottom: solid 1px black;
    }
    .touch{
        padding-left: 5%;
        flex: 1;
    } 
    .touch-title{
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
      display: inline-block;
        border-bottom: solid 3px #AACE9B;
        margin-top: 5%;
    }
    .touch-p{
        margin-top: 24px;
        width: 90%;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }
    .contact{
        padding-left: 5%;
        margin-top: 20px;
        flex: 1;
        font-size: 10px;        
    }    
    .email{
        display: flex;                   
    }
    .email-p{
        display: flex;
        align-items: center;
        margin-left: 1%;
    }
    .home{
        display: flex;                        
    }
    .home-p{
        display: flex;
        align-items: center;
        margin-left: 1%;
    }
    .phone{
        display: flex;      
    }
    .phone-p{
        display: flex;
        align-items: center;
        margin-left: 1%;
    }    
  }