#modal{
    width: 70%;
    height: 50%;
    position: fixed;
    margin-left: 15%;
    border-radius: 5px;
    background-color: rgba(55, 56, 103, 1);
    display: none;
}
#close{
    margin-left: 80%;
    height: 15%;
    width: 15%;
    border-radius: 1px;
    margin-top: 5%;
}
header{
    width: 100%;
    background-color: rgba(164, 164, 164, 1);
    display: flex;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 10%;
    align-items: center;
    padding-left: 2%;
    
}
section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
}
section h2{
    font-weight: bold;
    font-size: 49px;
    align-self: center;
}
.form{
    margin-top: 10%;
    align-self: center;
    font-size: 12px;
}
.form input{
    border-radius: 4px;
}
#passwordText{
    margin-top: 10%;
}
#errorEmail{
    display: none;
    color: red;
    margin-top: 1%;
}
#errorPassword{
    display: none;
    color: red;
    margin-top: 1%;
}
#errorPasswordSign{
    display: none;
    color: red;
    margin-top: 1%;
}
.check{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    font-size: 12px;
    
}
button{
    margin-top: 10%;
    width: 150px;
    height: 30px;
    align-self: center;
    background-color: #AACE9B;
   
}
.footer{
    border-top: solid 5px #AACE9B;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: rgba(55, 56, 103, 1);
    width: 100%;
    margin-top: 10%;
}
.footer-p{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.footer-icons{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.icons{
    height: 5%;
    width: 5%;
    margin-right: 5%;
}
.footer-copyright{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

