
.header {
    display: inline-block;
    width: 79%;
    margin-left: 20%;
    
}
.icon {
    display: inline-block;
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
}
.icon-img {
    height: 59px;
    width: 57px;
    
}
.title {
    display: inline-block;
    width: 80%;
    border-bottom: solid 2px #AACE9B;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 12%;
    padding-left: 5px;
    margin-top: 4%;
    height: 60px;
   
}

.nav {
    display: inline-block;
    width: 20%;
    margin-top: -125px;
    height: 88%;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.search {
    padding-left: 30px;
    padding-top: 30px;
    height: 70px;
}

.search-input {
    border-radius: 3px;
    height: 30px;
    padding-left: 25px;
}

.search-img{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
}

.menu{
    padding-left: 30px;
}
.menu-title {
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    border-bottom: solid 3px #AACE9B;
}
.menu-ol{
    margin-top: 30px;
    
}
.ol-home{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    width: 90%;
    border-bottom: solid 1px black;
    padding-bottom: 5px;
}
.ol-signu{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    width: 90%;
    border-bottom: solid 1px black;
    padding-bottom: 5px;
}
.ol-signi{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    width: 90%;
    padding-bottom: 5px;
    height: 80px;
    border-bottom: solid 1px black;
}

.touch{
    padding-left: 30px;
}

.touch-title{
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    width: 65%;
    border-bottom: solid 3px #AACE9B;
}
.touch-p{
    margin-top: 24px;
    width: 90%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.contact{
    padding-left: 30px;
    margin-top: 50px;
}
.email{
    height: 50px;
    padding-left: 5px;
    margin-top: 10px;
    border-bottom: solid 1px black;
}
.email-img{
    display: inline-block;
    width: 55px;
    height: 45px;
    position: absolute;
}.email-p{
    display: inline-block;
    margin-left: 60px;
    margin-top: 11px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.home{
    height: 60px;
    padding-left: 5px;
    margin-top: 10px;
    border-bottom: solid 1px black;
}
.home-img{
    display: inline-block;
    width: 55px;
    height: 45px;
    position: absolute;
}.home-p{
    display: inline-block;
    margin-left: 60px;
    margin-top: 11px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.phone{
    height: 50px;
    padding-left: 5px;
    margin-top: 10px;
    border-bottom: solid 1px black;
}
.phone-img{
    display: inline-block;
    width: 55px;
    height: 45px;
    position: absolute;
}.phone-p{
    display: inline-block;
   
    margin-left: 60px;
    margin-top: 11px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.main{

    display: inline-block;
    margin-top: 25px;
    position: absolute;
    padding-left: 175px;
    width: 71%;
    height: 57.5%;
    overflow: auto;
   
    
    
}
::-webkit-scrollbar{
    border-style: none;
}

.welcome-title{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    font-weight: bold;
    
}

.welcome-subtitle{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    margin-top: 40px;
    
}

.welcome-p{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    width: 42%;
    margin-top: 70px;
}

.welcome-img{
   
    float: right;
    width: 365px;
    height: 277;
    margin-top: -400px;
    
}
.img-welcome{
    margin-left: 50%;
    display: inline-block;
    

}
.welcome-buttom{
    height: 60px;
    width: 150px;
    margin-top: 70px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: block;
}


.actions-title{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    margin-right: 1%;
    border-bottom: solid 5px #AACE9B;
    margin-top: 100px;
    
}
.hours{
    display: inline-block;
    width: 35%;
    margin-left: 10px;
    margin-top: 10px;
    

}
.hours-img{
    display: inline-block;
    
    
   
}
.hours-title{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    float: right;
    margin-top: -180px;
    
     
}
.hours-title-box{
    display: inline-block;

    
}


.hours-p{
    float: right;
    margin-top: -150px;
    width: 250px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 202px;
  
    
}
.hours-p-box{
    display: inline-block;
    
}

.reports{
    display: inline-block;
    width: 35%;
    margin-left: 100px;
    margin-top: 10px;
    
}
.reports-img{
    display: inline-block;
}
.reports-title-box{
    display: inline-block;
}
.reports-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    float: right;
    margin-top: -180px;
}
.reports-p-box{
    display: inline-block;
}
.reports-p{
    margin-top: 60px;
    width: 250px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-left: 202px;
    margin-top: -150px;
}
.resources{
    display: inline-block;
    width: 35%;
    margin-left: 10px;
    margin-top: 10px;
}
.resources-img{
    display: inline-block;
}
.resources-title-box{
    display: inline-block;
}
.resources-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-top: -180px;
}
.resources-p-box{
    display: inline-block;
}
.resources-p{
    float: right;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 202px;
    margin-top: -140px;
}
.roles{
    display: inline-block;
    width: 35%;
    margin-left: 100px;
    margin-top: 10px;
    
}
.roles-img{
    display: inline-block;
}
.roles-title-box{
    display: inline-block;
}
.roles-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-top: -180px;
    
}
.roles-p-box{
    display: inline-block;
}
.roles-p{
    float: right;
    width: 250px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 202px;
    margin-top: -140px;
}

.use{
    margin-top: 100px;

}
.use-title{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    margin-right: 1%;
    border-bottom: solid 5px #AACE9B;
}
.use-li{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}

.form-title{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    margin-right: 1%;
    border-bottom: solid 5px #AACE9B;
    margin-top: 100px;
}
.form-form{
    width: 65%;
    
}

.form-bussines{
    display: inline-block;
    width: 400px;
    margin-top: 50px;

}
.form-label-bussines{
    display: block;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.form-input-bussines{
    width: 300px;
    height: 30px;
}

.form-email{
    display: inline-block;
    width: 400px;
    margin-top: 50px;
}
.form-label-email{
    display: block;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.form-input-email{
    width: 300px;
    height: 30px;
}

.checkbox{
    display: inline-block;
    margin-top: 20px;
}
.checkbox-title{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.checkbox-resources{
    display: block;
    padding-top: 10px;

}
.checkbox-commer{
    display: block;
    padding-top: 10px;

}
.checkbox-system{
    display: block;
    padding-top: 10px;
    
}

.phone-main{
    display: inline-block;
    width: 400px;
    margin-top: 50px;
    height: 65px;
    margin-left: 232px;
}
.phone-label{
    display: block;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.phone-text{
    width: 300px;
    height: 30px;
}
.message{
    margin-top: 20px;
    width: 72.5%;
}
.message-label{
    display: block;
    font-size: 30px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
.message-text{
    width: 99%;
    height: 150px;
}
.buttom-send{
    background-color: #AACE9B;
    height: 40px;
    width: 200px;
    margin-left: 50%;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-style: none;
}

.history{
    border-radius: 50%;
    background-color: #AACE9B;
    height: 800px;
    margin-top: 100px;
}
.history-up {
    display: block;
}
.history-1{
    display: inline-block;
    width: 400px;
    margin-left: 20%;
    margin-top: 10%;
}
.history-title-1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    text-align: right;
}
.history-p-1{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
.history-objective{
    display: inline-block;
    margin-top: 100px;
    margin-left: 80px;
    height: 250px;
    width: 250px;
}
.history-down{
    display: block;
}
.history-imgs{
    display: inline-block;
    width: 400px;
    margin-left: 20%;
    margin-top: 10%;
    
}
.imgs-data{
    height: 100px;
    width: 100px;
    margin-left: 30%;
}
.imgs-time{
    height: 100px;
    width: 100px;
    margin-left: 10%;
}

.history-2{
    display: inline-block;
    width: 300px;
    margin-left: 5.5%;
}


.us{
    margin-top: 40px;
    
}

.us-1{
    display: inline-block;
    width: 300px;
    margin-left: 10px;
    height: 170px;
}
.us-2{
    display: inline-block;
    width: 300px;
    margin-left: 150px;
    height: 170px;
    
}
.us-3{
    display: inline-block;
    width: 300px;
    margin-left: 150px;
    height: 170px;
}

.us-products{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: solid 5px #AACE9B;
}
.us-business{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: solid 5px #AACE9B;
}
.us-support{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: solid 5px #AACE9B;
}

.us-product-li{
    margin-top: 10px;
    margin-left: 20px
}
.us-bussines-li{
    margin-top: 10px;
    margin-left: 20px;

}
.us-support-li{
    margin-top: 10px;
    margin-left: 20px;

}

.footer{
    display: inline-block;
    width: 79%;
    margin-left: 1px;
    position: absolute;
    margin-top: 675px;
    border-top: solid 2px #AACE9B;
  
    
}

.footer-p{
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}
.footer-icons{
    text-align: center;

}
.icons{
    margin-left: 25px;
    margin-top: 10px;
}
.footer-copyright{
    text-align: center;
    margin-top: 10px;
}