.header {
    background-color: aqua;
    display: inline-block;
    width: 80%;
    margin-left: 20%;
    
}
.icon {
    background-color: bisque;
    display: inline-block;
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
}
.icon-img {
    height: 59px;
    width: 57px;
    
}
.title {
    background-color: brown;
    display: inline-block;
    width: 80%;
    border-bottom: solid 2px #AACE9B;
    font-size: 45px;
    margin-left: 12%;
    padding-left: 5px;
    margin-top: 4%;
    height: 60px;
   
}

.nav {
    background-color: blueviolet;
    display: inline-block;
    width: 20%;
    margin-top: -125px;
    height: 88%;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
.search {
    background-color: #AACE9B;
    padding-left: 30px;
    padding-top: 30px;
    height: 70px;
}

.search-input {
    border-radius: 3px;
    height: 30px;
    padding-left: 25px;
}

.search-img{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
}

.menu{
    background-color: aqua;
    padding-left: 30px;
}
.menu-title {
    font-size: 38px;
    background-color: aquamarine;
    width: 30%;
    border-bottom: solid 3px black;
}
.menu-ol{
    background-color: blue;
    margin-top: 30px;
    
}
.ol-home{
    background-color: red;
    font-size: 24px;
    padding-top: 10px;
    width: 90%;
    border-bottom: solid 1px black;
    padding-bottom: 5px;
}
.ol-signu{
    background-color: red;
    font-size: 24px;
    padding-top: 10px;
    width: 90%;
    border-bottom: solid 1px black;
    padding-bottom: 5px;
}
.ol-signi{
    background-color: red;
    font-size: 24px;
    padding-top: 10px;
    width: 90%;
    padding-bottom: 5px;
    height: 80px;
    border-bottom: solid 1px black;
}

.touch{
    background-color: #AACE9B;
    padding-left: 30px;
}

.touch-title{
    background-color: rgb(179, 82, 141);
    font-size: 38px;
    width: 65%;
    border-bottom: solid 3px black;
}
.touch-p{
    background-color: azure;
    margin-top: 24px;
    width: 90%;
    font-size: 20px;
}

.contact{
    background-color: brown;
    padding-left: 30px;
    margin-top: 50px;
}
.email{
    background-color: yellow;
    height: 50px;
    padding-left: 5px;
    margin-top: 10px;
    border-bottom: solid 1px black;
}
.email-img{
    display: inline-block;
    background-color: blue;
    width: 55px;
    height: 45px;
    position: absolute;
}.email-p{
    display: inline-block;
    background-color: blue;
    margin-left: 60px;
    margin-top: 11px;
    font-size: 20px;
}
.home{
    background-color: yellow;
    height: 60px;
    padding-left: 5px;
    margin-top: 10px;
    border-bottom: solid 1px black;
}
.home-img{
    display: inline-block;
    background-color: blue;
    width: 55px;
    height: 45px;
    position: absolute;
}.home-p{
    display: inline-block;
    background-color: blue;
    margin-left: 60px;
    margin-top: 11px;
    font-size: 20px;
}
.phone{
    background-color: yellow;
    height: 50px;
    padding-left: 5px;
    margin-top: 10px;
    border-bottom: solid 1px black;
}
.phone-img{
    display: inline-block;
    background-color: blue;
    width: 55px;
    height: 45px;
    position: absolute;
}.phone-p{
    display: inline-block;
    background-color: blue;
    margin-left: 60px;
    margin-top: 11px;
    font-size: 20px;
}

.main{
    background-color: #AACE9B;
    display: inline-block;
    margin-left: 20.1%;
    margin-top: -720px;
    padding-left: 10px;
    width: 73.4%;
}
.welcome{
    background-color: blue;
}
.welcome-title{
    background-color: rgb(7, 194, 7);
    font-size: 70px;
    width: 30%;
    font-weight: bold;
    
}

.welcome-subtitle{
    background-color: rgb(14, 134, 155);
    font-size: 30px;
    width: 30%;
    margin-top: 40px;
    
}

.welcome-p{
    background-color: rgb(115, 65, 161);
    font-size: 30px;
    width: 42%;
    margin-top: 70px;
}

.welcome-img{
    position: absolute;
    margin-left: 40%;
    display: inline-block;
    width: 365px;
    height: 277;
    margin-top: -375px;
}
.welcome-buttom{
    height: 60px;
    width: 150px;
    margin-top: 70px;
    border-radius: 5px;
    font-size: 20px;
}

.actions{
    background-color: rgb(42, 94, 94);

}
.actions-title{
    font-size: 70px;
    background-color: #329109;
    margin-left: 9%;
    margin-right: 1%;
    border-bottom: solid 5px #AACE9B;
}
.hours{
    background-color: rgb(221, 136, 31);
    display: inline-block;
    width: 35%;
    margin-left: 125px;
    

}
.hours-img{
    background-color: blue;
    display: inline-block;
    
    
   
}
.hours-title{
    background-color: #b81cb8;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    
    
    
}

.hours-p{
    background-color: rgb(19, 72, 117);
    display: inline-block;
    position: absolute;
    margin-top: 60px;
    width: 250px;
    font-size: 30px;
  
    
}
.reports{
    background-color: rgb(221, 136, 31);
    display: inline-block;
    width: 35%;
    margin-left: 100px;
}
.reports-img{
    background-color: blue;
    display: inline-block;
}
.reports-title{
    background-color: #b81cb8;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
}
.reports-p{
    background-color: rgb(19, 72, 117);
    display: inline-block;
    position: absolute;
    margin-top: 60px;
    width: 250px;
    font-size: 30px;
}
.resources{
    background-color: rgb(221, 136, 31);
    display: inline-block;
    width: 35%;
    margin-left: 125px;
}
.resources-img{
    background-color: blue;
    display: inline-block;
}
.resources-title{
    background-color: #b81cb8;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
}
.resources-p{
    background-color: rgb(19, 72, 117);
    display: inline-block;
    position: absolute;
    margin-top: 60px;
    width: 250px;
    font-size: 30px;
}
.roles{
    background-color: rgb(221, 136, 31);
    display: inline-block;
    width: 35%;
    margin-left: 100px;
}
.roles-img{
    background-color: blue;
    display: inline-block;
}
.roles-title{
    background-color: #b81cb8;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
}
.roles-p{
    background-color: rgb(19, 72, 117);
    display: inline-block;
    position: absolute;
    margin-top: 60px;
    width: 250px;
    font-size: 30px;
}

.use{
    background-color: #b81cb8;
    margin-top: 100px;
    padding-left: 9%;

}
.use-title{
    font-size: 70px;
    background-color: #329109;
    margin-right: 1%;
    border-bottom: solid 5px #AACE9B;
}
.use-li{
    font-size: 30px;
    padding-top: 20px;
}

.form {
    background-color: rgb(189, 218, 243);
}
.form-title{
    font-size: 70px;
    background-color: #329109;
    margin-left: 9%;
    margin-right: 1%;
    border-bottom: solid 5px #AACE9B;
}
.form-form{
    background-color: #b81cb8;
}
.form-bussines{
    background-color: rgb(110, 10, 10);
    display: inline-block;
    margin-left: 15%;
    width: 400px;
    margin-top: 50px;

}
.form-label-bussines{
    display: block;
    font-size: 30px;
}
.form-input-bussines{
    width: 300px;
    height: 30px;
}

.form-email{
    background-color: rgb(110, 10, 10);
    display: inline-block;
    margin-left: 15%;
    width: 400px;
    margin-top: 50px;
}
.form-label-email{
    display: block;
    font-size: 30px;
}
.form-input-email{
    width: 300px;
    height: 30px;
}

.checkbox{
    background-color: #aeca0c;
    display: inline-block;
    margin-left: 15%;
    margin-top: 20px;
}
.checkbox-title{
    font-size: 30px;
}
.checkbox-resources{
    display: block;
    padding-top: 10px;

}
.checkbox-commer{
    display: block;
    padding-top: 10px;

}
.checkbox-system{
    display: block;
    padding-top: 10px;
    
}

.phone-main{
    background-color: rgb(110, 10, 10);
    display: inline-block;
    margin-left: 24.1%;
    width: 400px;
    margin-top: 50px;
    position: absolute;
    height: 65px;
}
.phone-label{
    display: block;
    font-size: 30px;
}
.phone-text{
    width: 300px;
    height: 30px;
}
.message{
    background-color: #b93007;
    margin-left: 15%;
    margin-top: 20px;
    width: 72.5%;
}
.message-label{
    display: block;
    font-size: 30px;
    margin-left: 10px;
}
.message-text{
    width: 99%;
    height: 150px;
}
.buttom-send{
    background-color: #AACE9B;
    height: 40px;
    width: 200px;
    margin-left: 73%;
    margin-top: 20px;
    font-size: 20px;
    border-style: none;
}

.history{
    background-color: #160b7c;
    border-radius: 50%;
    height: 800px;
}
.history-up {
    display: block;
}
.history-1{
    background-color: #329109;
    display: inline-block;
    width: 400px;
    margin-left: 20%;
    margin-top: 10%;
}
.history-title-1{
    background-color: #11a6b1;
    font-size: 30px;
    width: 200px;
    text-align: right;
}
.history-p-1{
    background-color: red;
    font-size: 15px;
    margin-top: 20px;
}
.history-objective{
    display: inline-block;
    position: absolute;
    margin-top: 140px;
    margin-left: 80px;
    height: 250px;
    width: 250px;
}
.history-down{
    display: block;
}
.history-imgs{
    display: inline-block;
    background-color: pink;
    width: 400px;
    margin-top: 20%;
    margin-left: 20%;
    
}
.imgs-data{
    height: 100px;
    width: 100px;
    margin-left: 30%;
}
.imgs-time{
    height: 100px;
    width: 100px;
    margin-left: 10%;
}

.history-2{
    background-color: #aeca0c;
    display: inline-block;
    position: absolute;
    width: 300px;
    margin-left: 4%;
   margin-top: 300px;
}
.history-p-2{
    background-color: red;
}