.nav{
    display: none;
}

header{
    width: 100%;
    display: flex;
    position: fixed;
    height: 50px;
    background-color: rgba(237, 237, 237, 1);
    border-bottom: solid 2px #AACE9B;
    
}
.icon{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon-img {
    height: 90%;
    width: 90%;
   margin-left: 10%;

   
}
.title{
  
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding-bottom: 10px;
    color: rgba(55, 56, 103, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;

    
}
main {
 
    width: 100%;
    padding-top: 80px;
}

.welcome{
    margin-left: 2%;
 

    
   
}
.img-welcome{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    
    
 
}
.welcome-img{
    
   height: 100%;
    

}
.text-img{
    display: flex;
    width: 100%;
 
   
    
}
.text {
   
    font-family: 'Roboto', sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
   
    
}
.welcome-title {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    color: rgba(55, 56, 103, 1);

}
.welcome-subtitle{
    margin-top: 5%;
    color: rgba(55, 56, 103, 1);
    font-size: 150%;
    margin-top: 20%;
    
}
.welcome-p{
    margin-top: 5%;
    color: rgba(55, 56, 103, 1);
    display: none;
   
}
.welcome-buttom {
    width: 100px;
    margin-top: 15px;
    display: none;

}



.actions-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
}

.boxes {
   
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    width: 95%;
    
}


.hours {
    font-size: 13px;
    width: 45%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;
  
    
    
    
}
.hours-text{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.hours-title{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.hours-p-box{
    margin-top: 5%;
    margin-left: 5%;
}
.hours-img{
    margin-top: 5%;
    max-width: 50%;
    height: auto;
    margin-left: 30%;
   
}




.reports{
    font-size: 13px;
    width: 45%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;
}
.reports-text{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}


.reports-img{
    margin-top: 5%;
    max-width: 50%;
    height: auto;
    margin-left: 30%;
}
.reports-title-box{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.reports-p{
    margin-top: 5%;
}


.resources{
    
    font-size: 13px;
    width: 45%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    
}

.resources-img{
    margin-top: 5%;
    max-width: 50%;
    height: auto;
    margin-left: 30%;
   
}
.resources-text{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.resources-title{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.resources-p{
    margin-top: 5%;
}


.roles{
    font-size: 13px;
    width: 45%;
    margin-left: 1%;   
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
}
.roles-text{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.roles-img{
    margin-top: 5%;
    max-width: 50%;
    height: auto;
    margin-left: 30%;
}
.roles-title{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.roles-p{
    margin-top: 5%;
}






.use-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
   display: inline-block;
    border-bottom: solid 4px #AACE9B;
}
.use-ol{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    justify-content: space-between;
    height: 100px;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    
}


.form-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
}

.form-form{

    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid 2px rgb(151, 150, 150);
    border-radius: 1%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #AACE9B;
    width: 85%;
}
.form-label-bussines{
    margin-left: 2%;
}
.form-bussines{
   
    display: flex;
    flex-direction: column;
    
  

}
.form-input-bussines{
   margin-left: 2%;
   margin-right: 10%;
}

.form-input-email{
    margin-left: 2%;
    margin-right: 10%;
    
}
.form-label-email{
    margin-left: 2%;
}
.phone-text{
    margin-left: 2%;
    margin-right: 10%;
    
}
.message-label{

    margin-left: 2%;

}
.message-text{
    margin-left: 2%;
    margin-right: 10%;
    height: 60px;
}
.form-email{
    margin-top: 5%;
    
    display: flex;
    flex-direction: column;
   
  
   
}

.checkbox{
    width: 50%;
    margin-top: 5%;
    
}
.phone-main{
   
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.phone-label{
    margin-left: 2%;
}

.message{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

.buttom-send{
    margin-left: 200px;
    width: 100px;
    margin-top: 5%;
    display: none;
 
}

.history{
    
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
   
    width: 85%;
 

   
    
    
}


.history-title-1{

    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
    
}
.history-p-1{
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
    width: 80%;
    padding-bottom: 2%;
    margin-right: 5%;
}

.imgs-data{
    height: 25%;
    width: 25%;
    display: none;
}
.imgs-time{
    height: 25%;
    width: 25%;
    display: none;
}

.history-objective{
    height: 60%;
    width: 90%;
    display: none;
}

.history-2{
    
    width: 100%;
}
.history-title-2{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;

}
.history-p-2{
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
    width: 80%;
    padding-bottom: 2%;
    margin-right: 5%;
   
}

.us{
  
    display: flex;
  
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    width: 90%;
    
  
}

.us-products{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
}
.us-product-li{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
.us-business{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;
    
}

.us-bussines-li{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
.us-support{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    display: inline-block;
    border-bottom: solid 4px #AACE9B;

}

.us-support-li{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}

.footer{
    border-top: solid 2px #AACE9B;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    
}

.footer-p{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.footer-icons{
    display: flex;
    justify-content: center;
    margin-top: 2%;

}
.icons{
    height: 5%;
    width: 5%;
    margin-right: 5%;
}
.footer-copyright{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

@media only screen and (min-width: 600px) {
    header{
        
        width: 75%;
        margin-left: 25%;
        font-size: 38px;
        height: 100px;
        background-color: white;
        border-bottom: none;
    }
    
    .icon-img {
        height: 70%;
        width: 70%;
     
    
       
    }
    .title{
      
        display: flex;
        justify-content:flex-start;
     
        flex-grow: 1;
        width: 100%;
        padding-bottom: 10px;
        color: rgb(0, 0, 0);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 30px;
        margin-right: 10%;
        margin-left: 5%;
        border-bottom: solid 2px #AACE9B;
        
    }
    main{
        width: 75%;
        margin-left: 25%;
        padding-top: 150px;
      
        
        
    }
    .welcome{
        font-size: 25px;
    
    }
    .welcome-title{

        width: 70%;
        text-align: start;
        color: black;
        font-size: 30px;
  
        
      
    }
    
    .text{
    
    margin-top: 5%;
    font-size: 15px;
   
    }
    
   
    .welcome-img{
    
        height: 100%;
        width: 90%;
     }
    
    .welcome-subtitle{
        display: block;
        margin-top: 0%;
       
    }
    .welcome-p{
        display: block;
   
    }
    .welcome-buttom{
        display: block;
        margin-top: 5%;
        background-color: #AACE9B;
        font-size: 15px;
        width: 125px;
        height: 40px;
        border-radius: 5%;
       
    }
    
    .actions-title{
        font-size: 30px;
    }
    .boxes {
   
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5%;
        align-items: center;
        width: 95%;
    }
    .hours{
        font-size: 15px;
        display: flex;
    }
    .hours-img{
        margin-left: 0;
       height: 50%;
    }
   
    .hours-title{
        justify-content:flex-start;
    }
    .reports{
        font-size: 15px;
       
        display: flex;
    }
    .reports-img{
        margin-left: 0;
        height: 50%;
    }
    .reports-title-box{
        justify-content:flex-start;
    }
    .resources{
        font-size: 15px;
      
        display: flex;
    }
    .resources-img{ 
        margin-left: 0;
        height: 50%;
      
    }
    .resources-title{
        justify-content:flex-start;
    }
    .roles{
        font-size: 15px;
       
        display: flex;
    }
    .roles-img{
        margin-left: 0;
        height: 50%;
    }
    .roles-title{
        justify-content:flex-start;
    }



    .use-title{
        font-size: 30px;
    }
    .use-li{
        font-size: 15px;
       margin-top: 2%;
    }

    
    .form-title{
        font-size: 30px;
        margin-top: 10%;
       
    }
    .form-form{
        font-size: 15px;
        background-color: white;
        border: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .form-bussines{
        width:50%;
        display: flex;
     
        
    }
    
    .form-email{
        width: 50%;
        margin-top: 0;
    }
    .form-input-bussines{
        width: 50%;
        max-width: 200px;
        height: 20px;
        border-radius: 5%;
       
    }
    .form-input-email{
        width: 50%;
        max-width: 200px;
        height: 20px;
        border-radius: 5%;
       
    }


   .checkbox{
    width: 49%;
   margin-left: 1%;
    
    }
    .checkbox-resources{
        margin-top: 1%;
    }
    .checkbox-commer{
        margin-top: 1%;
    }
    .checkbox-system{
        margin-top: 1%;
    }
    .phone-main{
        width: 50%;
       
    }
    .phone-text{
        width: 50%;
        height: 20px;
        max-width: 200px;
    }
    .form-email{
   
        display: flex;
        flex-direction: column;
      
      
       
    }
    .message-text{
        height: 100px;
        width: 75%;
        max-width: 595px;
        border-radius: 2%;
        margin-left: 0;
    }
    .message-label{
        margin-left: 0;
    }
  
    

    .history{
    
        display: flex;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
        width: 90%;
        margin-left: 5%;
     
    
       
        
        
    }
    
    .history-up{
        flex: 0.8;
  
       
    }
    .history-2{
        
        flex: 0.8;
        
    }
    .history-title-1{
    
        font-size: 20px;
        margin-left: 0%;
        margin-top: 5%;
        padding-bottom: 2%;
        margin-right: 5%;
        
        
        
    }
    .history-p-1{
        font-size: 15px;
        margin-left: 0%;
        margin-top: 5%;
        width: 100%;
        padding-bottom: 2%;
        margin-right: 5%;
    }
    
    
    
    
    .history-title-2{
        font-size: 20px;
        margin-left: 5%;
        margin-top: 5%;
        padding-bottom: 2%;
        margin-right: 5%;
      
    
    }
    .history-p-2{
        font-size: 15px;
        margin-left: 5%;
        margin-top: 5%;
        width: 100%;
        padding-bottom: 2%;
        margin-right: 5%;
       
    }
    


    .us{
        padding-bottom: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .us-1{
        width: 30%;
      
       
    }
    .us-2{
        width: 30%;
    }
    .us-3{
        width: 30%;
    }
    .us-products{
        font-size: 25px;
        margin-left: 35%;
    }
    .us-product-li{
        font-size: 10px;
        margin-left: 35%;
    }
    .us-business{
        font-size: 25px;
        margin-left: 35%;
    }
    .us-bussines-li{
        font-size: 10px;
        margin-left: 35%;
    }
    .us-support{
        font-size: 25px;
        margin-left: 35%;
    }
    .us-support-li{
        font-size: 10px;
        margin-left: 35%;
    }


    .footer{
        width: 75%;
        margin-left: 25%;
        font-size: 15px;
        position: fixed;
        bottom: 0;
      
        
        
    }
    .icons{
        height: 2%;
        width: 2%;
        margin-top: 2%;
        margin-right: 1%;
    }
  
    .footer-icons{
        margin-top: 0;
      
       
    }
    .footer-copyright{
        display: flex;
        justify-content: center;
        margin-top: 1%;
    }
    .nav{
        display: flex !important;
        flex-direction: column;
        z-index: 2;
        position: fixed;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        width: 25%;
        border-right: solid 2px black;
        border-bottom: solid 2px black;
        height: 100%;
       
       
        
    }
    .search {
        padding-left: 5%;
        width: 70%;
        flex: 0.4;
        padding-top: 5%;
    }
    
    .search-input {
        border-radius: 3px;
        height: 30px;
        width: 100%;
        max-width: 150px;
        padding-left: 20px;
    }
    
    .search-img{
        height: 20px;
        width: 20px;
        position: absolute;
        margin-top: 6px;
        margin-left: 5px;
    }

    .menu{
        padding-left: 5%;
        flex: 1;
    }
    .menu-title {
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        display: inline-block;  
        border-bottom: solid 3px #AACE9B;
        
    }
    .menu-ol{
        margin-top: 20px;
        
    }
    .ol-home{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        width: 90%;
        border-bottom: solid 1px black;
        padding-bottom: 5px;
    }
    .ol-signu{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        width: 90%;
        border-bottom: solid 1px black;
        padding-bottom: 5px;
    }
    .ol-signi{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        width: 90%;
        padding-bottom: 5px;
        border-bottom: solid 1px black;
    }
    .touch{
        padding-left: 5%;
        flex: 1;
    }
    
    .touch-title{
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
      display: inline-block;
        border-bottom: solid 3px #AACE9B;
        margin-top: 5%;
    }
    .touch-p{
        margin-top: 24px;
        width: 90%;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }
    .contact{
        padding-left: 5%;
        margin-top: 20px;
        flex: 1;
        font-size: 10px;
        
    }
    
    .email{
        display: flex;
    
       
        
    }
    .email-p{
        display: flex;
        align-items: center;
        margin-left: 1%;
    }

    .home{
        display: flex;
        
        
        
    }
    .home-p{
        display: flex;
        align-items: center;
        margin-left: 1%;
    }

    .phone{
        display: flex;
      
    }
    .phone-p{
        display: flex;
        align-items: center;
        margin-left: 1%;
    }

    
  }
  @media only screen and (min-width: 768px) {

    .text{
        justify-content: space-around;
        font-size: 25px;
        
    }
    .us-products{
        font-size: 30px;
    }
    .us-product-li{
        font-size: 14px;
      
    }
    .us-business{
        font-size: 30px;
    }
    .us-bussines-li{
        font-size: 14px;
      
    }
    .us-support{
        font-size: 30px;
    }
    .us-support-li{
        font-size: 14px;
      
    }
    .contact{
        padding-left: 5%;
        margin-top: 20px;
        
        font-size: 12px;
        
    }
   
  }