.nav{
    display: none;
}

header{
    width: 100%;
    display: flex;
    position: fixed;
    height: 50px;
    background-color: white;
    
    
}

.icon-img {
    height: 70%;
    width: 70%;
   margin-left: 10%;
}
.title{
   
    display: flex;
    align-items: flex-end;
    flex-grow: 0.8;
    margin-left: 5%;
    padding-bottom: 10px;
    border-bottom: solid 2px #AACE9B;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}
main {
 
    width: 100%;
    padding-top: 80px;
}

.welcome{
    margin-left: 2%;
    display: flex;
    
    
   
}
.img-welcome{
    width: 50%;
    display: flex;
    justify-content:center;
}
.welcome-img{
    width: 90%;
    height: 90%;

}

.text {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    
}
.welcome-title {
    font-weight: bold;
    width: 80%;
    font-size: 150%;
}
.welcome-subtitle{
    margin-top: 5%;
}
.welcome-p{
    margin-top: 5%;
}
.welcome-buttom {
    width: 100px;
    margin-top: 15px;

}



.actions-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
  
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    border-bottom: solid 4px #AACE9B;
}

.boxes {
   
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 5%;
}


.hours {
    font-size: 13px;
    width: 45%;
    margin-left: 1%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    
    
    
}
.hours-text{
    margin-left: 5%;
}
.hours-title{
    font-weight: bold;
}
.hours-p-box{
    margin-top: 5%;
}
.hours-img{
    margin-top: 5%;
    width: 30%;
    height: 80%;
   
}




.reports{
    font-size: 13px;
    width: 45%;
    margin-left: 5%;
    display: flex;
 
    font-family: 'Roboto', sans-serif;
}
.reports-text{
    margin-left: 5%;
}


.reports-img{
    margin-top: 5%;
    width: 30%;
    height: 80%;
}
.reports-title-box{
    font-weight: bold;
}
.reports-p{
    margin-top: 5%;
}


.resources{
    
    font-size: 13px;
    width: 45%;
    margin-left: 1%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    
}

.resources-img{
    margin-top: 5%;
    width: 30%;
    height: 80%;
   
}
.resources-text{
    margin-left: 5%;
}
.resources-title{
    font-weight: bold;
}
.resources-p{
    margin-top: 5%;
}


.roles{
    font-size: 13px;
    width: 45%;
    margin-left: 5%;
    display: flex;
   
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
}
.roles-text{
    margin-left: 5%;
}
.roles-img{
    margin-top: 5%;
    width: 30%;
    height: 80%;
}
.roles-title{
    font-weight: bold;
}
.roles-p{
    margin-top: 5%;
}






.use-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    border-bottom: solid 4px #AACE9B;
}
.use-ol{
    
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    justify-content: space-between;
    height: 100px;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    
}


.form-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
  
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    margin-right: 5%;
    border-bottom: solid 4px #AACE9B;
}

.form-form{

    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    width: 350px;
}

.form-bussines{
    
    display: flex;
    flex-direction: column;
    
  

}
.form-input-bussines{
    width: 150px;
    height: 15px;
}
.form-input-email{
    width: 150px;
    height: 15px;
}
.phone-text{
    width: 150px;
    height: 15px;
}
.message-text{
    width: 300px;
    height: 60px;
}
.form-email{
   
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  
   
}

.checkbox{
    width: 160px;
    margin-top: 5%;
    
}
.phone-main{
   
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-left: 20px;
    margin-top: 5%;
}

.message{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

.buttom-send{
    margin-left: 200px;
    width: 100px;
    margin-top: 5%;
 
}

.history{
    background-color: #AACE9B;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    border-radius: 50%;
    margin-top: 20px;
   
   
    
    
}
.history-up{
    width: 40%;
    margin-top: 10%;
    margin-left: 5%;

}
.history-1{
    margin-left: 10%;
   
}
.history-title-1{
    font-size: 100%;
    
}
.history-p-1{
    font-size: 8px;
    margin-top: 5%;
    width: 70%;
}
.history-imgs{
    margin-top: 20%;
    
}
.imgs-data{
    height: 25%;
    width: 25%;
}
.imgs-time{
    height: 25%;
    width: 25%;
}
.history-2{
    width: 40%;
    margin-top: 10%;
}
.history-objective{
    height: 60%;
    width: 90%;
}
.history-p-2{
    font-size: 8px;
    margin-top: 10%;
    width: 70%;
}

.us{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
}
.us-1{
   
    width: 30%;
}
.us-products{
    width: 100%;
    border-bottom: solid 2px #AACE9B;
    font-weight: bold;
    margin-left: 2%;
}
.us-product-li{
    margin-left: 5%;
    font-size: 70%;
    margin-top: 5%;
}
.us-business{
    width: 100%;
    border-bottom: solid 2px #AACE9B;
    font-weight: bold;
    
}
.us-2{
    
    width: 30%;
}
.us-bussines-li{
    margin-left: 5%;
    font-size: 70%;
    margin-top: 5%;
}
.us-support{
    width: 100%;
    border-bottom: solid 2px #AACE9B;
    font-weight: bold;

}
.us-3{

    width: 30%;
}
.us-support-li{
    margin-left: 5%;
    font-size: 70%;
    margin-top: 5%;
}

.footer{
    border-top: solid 2px #AACE9B;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    
}

.footer-p{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.footer-icons{
    display: flex;
    justify-content: center;
    margin-top: 2%;

}
.icons{
    height: 5%;
    width: 5%;
    margin-right: 5%;
}
.footer-copyright{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

@media only screen and (min-width: 992px) {
    header{
        
        width: 75%;
        margin-left: 25%;
        font-size: 38px;
        height: 100px;
    }
   
    main{
        width: 75%;
        margin-left: 25%;
        padding-top: 150px;
        
        
    }
    .welcome{
        font-size: 25px;
    }
    .text{
        margin-top: 60px;
    }

    .actions-title{
        font-size: 38px;
    }
    .welcome-subtitle{
        margin-top: 80px;
    }
    .welcome-p{
        margin-top: 80px;
    }
    .welcome-buttom{
        margin-top: 80px;
    }

    .hours{
        font-size: 20px;
    }
    .reports{
        font-size: 20px;
    }
    .resources{
        font-size: 20px;
    }
    .roles{
        font-size: 20px;
    }
    .use-title{
        font-size: 38px;
    }
    .use-li{
        font-size: 20px;
    }

    
    .form-title{
        font-size: 38px;
    }
    .form-form{
        font-size: 20px;
        width: 450px;
    }
   .checkbox{
    width: 200px;
    margin-top: 5%;
    
    }
    .form-email{
   
        display: flex;
        flex-direction: column;
        margin-left: 60px;
      
       
    }
    
    .history-title-1{
        font-size: 30px;
    }
    .history-p-1{
        font-size: 15px;
    }
    .history-p-2{
        font-size: 15px;
    }



    .us-products{
        font-size: 30px;
    }
    .us-product-li{
        font-size: 15px;
    }
    .us-business{
        font-size: 30px;
    }
    .usbusiness-li{
        font-size: 15px;
    }
    .us-support{
        font-size: 30px;
    }
    .ussupport-li{
        font-size: 15px;
    }


    .footer{
        width: 75%;
        margin-left: 25%;
        font-size: 15px;
        position: fixed;
        bottom: 0;
        
    }
    .icons{
        height: 2%;
        width: 2%;
        margin-right: 1%;
    }
    .footer-copyright{
        display: flex;
        justify-content: center;
        margin-top: 1%;
    }
    .nav{
        display: flex !important;
        flex-direction: column;
        z-index: 2;
        position: fixed;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        width: 25%;
        border-right: solid 2px black;
    border-bottom: solid 2px black;
    height: 100%;
       
        
    }
    .search {
        padding-left: 30px;
        padding-top: 30px;
        height: 70px;
    }
    
    .search-input {
        border-radius: 3px;
        height: 30px;
        padding-left: 25px;
    }
    
    .search-img{
        height: 20px;
        width: 20px;
        position: absolute;
        margin-top: 6px;
        margin-left: 5px;
    }

    .menu{
        padding-left: 30px;
    }
    .menu-title {
        font-size: 38px;
        font-family: 'Roboto', sans-serif;
        width: 30%;
        border-bottom: solid 3px #AACE9B;
    }
    .menu-ol{
        margin-top: 30px;
        
    }
    .ol-home{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        width: 90%;
        border-bottom: solid 1px black;
        padding-bottom: 5px;
    }
    .ol-signu{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        width: 90%;
        border-bottom: solid 1px black;
        padding-bottom: 5px;
    }
    .ol-signi{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        width: 90%;
        padding-bottom: 5px;
        height: 80px;
        border-bottom: solid 1px black;
    }
    .touch{
        padding-left: 30px;
    }
    
    .touch-title{
        font-size: 38px;
        font-family: 'Roboto', sans-serif;
        width: 65%;
        border-bottom: solid 3px #AACE9B;
    }
    .touch-p{
        margin-top: 24px;
        width: 90%;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .contact{
        padding-left: 30px;
        margin-top: 20px;
        
        
    }
    
    .email{
        display: flex;
       
        
    }
    .email-p{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .home{
        display: flex;
        
        
        
    }
    .home-p{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .phone{
        display: flex;
      
    }
    .phone-p{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
  }